* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(16, 16, 16);
    color: white;
    font-size: 16px;

}
header{
    display: flex;
    justify-content: space-between;
}
header input[type="text"]{
        margin-top: 18px;
        font-size: 18px;
        padding: 2px;
}
body h1 {
    padding-left: 0%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.movie__cover img {
    width: 100%;
    object-fit: contain;
}
.movie{
    position: relative;
}
.movie__average {
    position: absolute;
    top: 20px;
    left: 13px;
    z-index: 1;
    color: white;
    width: 32px;
    height: 32px;
    padding:7px 0 0 7px;
    background-color: #161616;
}

.movie__average--green{
    border: 1px solid rgb(11, 220, 168);
    border-radius: 50%;
}
.movie__average--orange{
    border: 1px solid rgb(194, 19, 182);
    border-radius:50% ;
    
}
.movie__average--red{
    border: 1px solid red;
    border-radius: 50%;
}